<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script defer src="\JS\help_pop_up.js" javascript:void(0);></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="\CSS\homepage_style.css" rel="stylesheet">

    <title>Homepage</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light navbar-custom">
        <a href="/" class="navbar-brand mb-0 h1">
        <img id="logo" class="d-inline-block align-content-end" src="\Images\logo.png" size="125%"/>
        </a>
        
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                  <a id="navbutton" href="CreateProfile.html" class="nav-link active">My Profile</a>  
                </li>
                <li class="nav-item active">
                    <a id="navbutton" href="Events.html" class="nav-link active">Events</a>  
                </li>
                <li class="nav-item active">
                    <a id="navbutton" href="Games.html" class="nav-link active">Games</a>  
                </li>
                <li class="nav-item active">
                    <a id="navbutton show" href="#" class="nav-link active" id="" onclick="myFunction3()">Help</a>  
                </li> 
            </ul>
        </div>

        <form class="d-flex">
            <input type="text" placeholder="Type to Search.." name="search" class="form-control me-2">
              <button type="submit" class="btn ">Search</button>
        </form>


    </nav>

    <div id="slideshow">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="\Images\big_photo.jpg" alt="Active retirement cover photo ">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Recent trip to Bray</h5>
                    <p>20/01/22</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/holding_hands.jpg" alt="Image of blarney stone">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bringing us closer together</h5>
                    <p>18/01/22</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/group_table.jpg" alt="group of members having dinner">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Group Dinner</h5>
                    <p>10/01/22</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/Images/group_outside.jpg" alt="group of members on atheater trip in dublin">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Trip to the theater</h5>
                    <p>12/01/22</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>


    
    

      <div class="text_box">
        <h1>Our Mission</h1>
        <p id="quote">“Active Retirement Connect will reach out to all older people to stop loneliness through friendship and support”
          - Mission Statement, Active Retirement Ireland Strategic Plan.</p>
          <p>Active Retirement Ireland (ARI) is a voluntary organisation for older people with a national membership of over 24,500 people 
              and over 550 local associations. Members range in age from 50 -100+ years and cover a range of socio-economic backgrounds. 
              As an organisation, ARI believes that all older people are equal and are entitled to be treated with respect. Older people all 
              have different interests and needs, which ARI aims to identify and fulfil.</p>
      </div>
  </div>

 
  <div id="dialog_hide">
    <dialog id="dialog_box">
      <p>
        <q>
          Click on the buttons to read more about the event you are interested in.
        </q>
        <button id="hide" onclick="myFunction3()">
          &times;
        </button>
      </p>

  
  </div>

	</div>

    <div id="img_container">
        <div id="img1">
            <img id="left_img" src="\Images\left_container.jpg"/>
            <button class="btn">Button</button>
        </div> 
        <div id="img2">
            <img id="middle_img" src="\Images\middle_container.jpg"/>
            <button class="btn">Button</button>
        </div>
        <div id="img3">
            <img id="right_img" src="\Images\right_container.jpg"/>
            <button class="btn">Button</button>
        </div>

    </div> 

  
  </body>
</html>