/* not required */
*,:active{
	outline: none;
}
*{
	padding: 0px;
	font-family: Helvetica;
	margin: 0px;
}

body{
	margin: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	background-color:rgb(241, 248, 235);
}

table {
        width: 100%;
		margin-top: 5%;
}

/* th {
	height: 90px;
} */

table tr td{
	width: 50%;
	height: 5vh;
	text-align: center;
	margin: auto auto;
	font-size: 15px;
	font-weight: bolder;
	/* border-radius: 20%; */
	margin-bottom: 5%;
	padding-top: 5%;

}

/* input{
	font-family: Helvetica, Arial, sans-serif;
} */

/* h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
} */



.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* required */
#calendar{
	position: absolute;
	float: left;
	margin-left: 9%;
	border-radius: 4px;
	width: 80vw;
	height: 100vh;
	margin-top: 10%;
	box-shadow: 0px 0px 15px 4px rgba(108, 108, 108, 0.657);
	margin-bottom: 50%;
	background-color: #f3eeea;
	border:20px solid rgb(138, 203, 197);
}
/* 
#calendar h1, #calendar h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
} */

#calendar h1 span{
	display: block;
}

#calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

#calendar .col .content{
	padding: 10px;
}

#calendar .leftCol{
	width: 40%;
	background-color: #55B4B0;
	height: 94vh;
}

#calendar .noteList {
	display: inline-block;
	list-style: none;
	padding: 0%;
}

#calendar .noteList li{
	color: #313229;
	font-size: large;
	font-weight: bold;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

#calendar .leftCol h1{
	color: #313229;
	margin-top: 5px;
	font-size: 3rem;
	font-weight: bolder;
	font-family: Helvetica;
}

#calendar .leftCol h2{
	color: #313229;
	font-size: 3rem;
	font-weight: bolder;
	font-family: Helvetica;
}

#calendar .leftCol h3{
	color: #313229;
	font-size: 1rem;
	font-weight: bolder;
	font-family: Helvetica;
}

#calendar .leftCol p{
	color: #313229;
	font-size: 1rem;
	font-weight: bolder;
	font-family: Helvetica;
}

#calendar .rightCol{
	width: 60%;
}

#calendar .rightCol h2{
	color: #313229;
	text-align: right;
	font-weight: bolder;
	font-family: Helvetica;
	font-size: 6vh;
	word-spacing: 3%;
	display: inline-block;
	padding-left: 5%;
	margin-left: 5%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 40px;
}

/* #calender .rightCol h2 span {
	display: block;
	margin-left: 5%;
} */

.monthNow{
    color: #666666;
    text-align: center;
	border: 1px solid;
	font-size: 3vh;
	/* border-color: #b8cdb5; */
}

.has{
	padding: 20px;
    margin: 0px;
	width: 45vw;
}

.has td{
    width: 40px;
	margin: 0px;
	margin-bottom: 5%;

}
.monthNow th{
    color: #0833b4;
    text-align: center;
}

.dayNames{
    color: #442c2c;
	font-weight: bold;
	font-family: Helvetica;
    background-color: #419e99;
    text-align: center;

}

.has td.dayNow:hover{
	/* background-color:#d96d15!important; */
	color: #000000;
}

.has td.dayNow{
    color: rgb(77, 75, 75);
   	text-align: center;
	font-size: 3vh;
	font-family: Helvetica;
	background-color: #419e99;
}

.has td.eventNow{
    color: rgb(255, 255, 255);
    text-align: center;
	font-size: 3.5vh;
	font-family: Helvetica;
	border: dotted;
	content: "●";
	background-color: #e6d58c;
	border: 1px solid rgb(19, 0, 13);
}

.has td.eventNow:hover{
	background-color: #d28e10!important;
	color: #f7e3e3;
}

#calendar button {
	width: 9%;
	border-radius: 50%;
	margin-left: 10%;
	text-align: center;
	background-color:#55B4B0;
	color: #ebf9ff;
	height: 8vh;
	font-size:x-large;
}

#calendar .join {
	background-color: #707e06;
	color: #f3dfc4;
	width: 15%;
	border-radius: 50%;
	margin-left: 3%;
}


#calendar button:hover {
	background-color: #adc3d7;
	color: #5d5d5d;
}


#Top {
	display: flex;
	padding: 0%;
	margin-left: 20%;
	margin-top: 10%;
}

#Top h1 {
	border-top-style: solid;
	border-top-width: thick;
	border-color: #707e06;
	color: rgb(48, 50, 50);
	font-family: Helvetica;
	font-weight: bold;
	font-size: 5vh;
	animation: mymove 5s infinite;
	
}
#calbox {
	width: 90vw;
	height: 60vh;
	margin-top: 5%;
	border: 10px solid #72cfcb;
	margin-left: 3%;
	background-color: #55B4B0;
}

#calbox h2 {
	color: #313229;
	margin-top: 5px;
	font-size: 2rem;
	margin-left: 10px;
	font-weight: bolder;
	font-family: Helvetica;
}

#calbox h3 {
	color: #313229;
	margin-top: 5px;
	font-size: 2rem;
	margin-left: 10px;
	font-weight: bolder;
	font-family: Helvetica;
}

#caldate {
	display: block;
	width: 100px;
	height: 110px;
	margin-top: 2%;
	margin-left: 2%;
	/* margin: 30px auto; */
	background: #fff;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	position: relative;
	border: 1px ridge;
	font-weight: bold;
}

#caldate .cal {
	position: absolute;
	height: 15px;
	width: 60px;
	background: transparent;
	border: 2px solid #999;
	border-width: 0 5px;
	top: -6px;
	left: 0;
	right: 0;
	margin: auto;
}

#caldate .calmonth {
	background: #707e06;
	display: block;
	padding: 8px 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 2px solid #333;
	box-shadow: inset 0 -1px 0 0 #666;
}

#caldate .calday {
	display: block;
	margin: 0;
	padding: 10px 0;
	font-size: 48px;
	box-shadow: 0 0 3px #ccc;
	position: relative;
	font-weight: bold;
}

#caldate .calday::after {
	content: '';
	display: block;
	height: 100%;
	width: 96%;
	position: absolute;
	top: 3px;
	left: 2%;
	z-index: -1;
	box-shadow: 0 0 3px #ccc;
}

#caldate .calday::before {
	content: '';
	display: block;
	height: 100%;
	width: 90%;
	position: absolute;
	top: 6px;
	left: 5%;
	z-index: -1;
	box-shadow: 0 0 3px #ccc;
}

#calbox h4 {
	color: #f3dfc4;
	font-size: 1.5rem;
	font-weight: bolder;
	width: 30%;
	border: ridge #d7dbbf;
	background-color: #707e06;
	margin-left: 10px;
	font-family: Helvetica;
}

#calbox li {
	background-color: #eff1e0;
	width: 70%;
	list-style: none;
}
#calbox li h2 {
	font-size: 1.5rem;
	font-weight: bolder;
	margin-left: 10px;
	font-family: Helvetica;
}
#calbox .dButton {
	background-color: #707e06;
	color: #f3dfc4;
	width: 5%;
	border-radius: 50%;
	margin-left: 35%;
	margin-top: 5px;
}

/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }