#dialog_box{
    width: 35%;
    background: #80d5a6;
    border: 5px dashed mediumseagreen;
    color: black;
    font-family: Marcellus, serif;
    text-shadow: 0 2px #fff;
    text-align: center;
    z-index: 1;
    display:block;
    margin-top: -32%;
    margin-left: auto;
    margin-right: auto;
 }